@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,600,600italic);

html {
	font-size: 15px;
}

body {
	color: #484848;	
	font-family: 'Open Sans', sans-serif;
	margin: 2rem;
}

h1 {
	font-size: 1.5rem;
	margin: 0;
}

.field {
	margin-bottom: 1rem;
}
.field:last-child {
	margin: 0;
}
.field:first-child {
	margin-top: 1rem;
}

.header {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px #484848 solid;
}

p {
	margin: 0 0 1rem 0;
}

label {
	display: inline-block;
	width: 200px;
}

input,
button {
	padding: .5rem 1rem;
}

button {
	font-family: 'Open Sans', sans-serif;
	border: 0;
	color: #fff;
	background: #484848;
}
